@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  gap: 15px;
  background-color: #204051;
  color: #E4E3E3;
}

h1 {
  font-family: Pacifico;
  font-size: 100px;
}

h1, p, ul {
  margin: 0;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10%;
  font-size: 10px;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

li {
  cursor: pointer;
  user-select: none;
}

.done {
  text-decoration: line-through;
}

#userinput {
  height: 20px;
  padding: 10px;
  font-size: 14px;
}

#enter {
  background-color: #3B6978;
  color: #E4E3E3;
  border: 1px solid #3B6978;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
}

ul li button {
  border: none;
  cursor: pointer;
  background-color: #ffffff00;
  color: #E4E3E3;
}
